/* #main-form {
    width: 20%
} */
.content {
    display: inline-block;
}

.container {
    text-align: center;
}

/* #correction-form {
    width: 50%
} */


#about-title {
    margin: 5%
}

#random-form, #input-box-form{
    display: inline-block;
    position: relative;
    align-self: center;
    width: 20%;
}

#main-container {
    position: relative;
}

#input-box {
    align-self: center;
    position: absolute;
}