<html>
    <head>
        <title>Generate Sentence | Logic Gym</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/about">Sobre</a>               
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Logic Gym</a>
                </div>
            </div>
        </nav>
        <div class="container" align="center">
            <h2 id="about-title">
                Sobre o Projeto
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales nulla lorem, fringilla convallis quam consequat ac. Donec in lectus dignissim, molestie mauris non, euismod magna. Aenean convallis pretium nunc ac accumsan. Sed feugiat consectetur sem, sagittis euismod erat varius eu. Nullam vitae aliquet lectus, eu pharetra arcu. Quisque varius quam ut odio imperdiet rutrum. Cras a enim sit amet augue hendrerit fermentum vitae eu ex. Morbi id ligula non nibh bibendum iaculis molestie et nulla. Integer eu tellus at orci interdum sodales. Duis id elit nec metus auctor tempus. Curabitur consectetur nunc vel rhoncus pharetra. Maecenas viverra magna sit amet dictum ultrices. Maecenas sed feugiat velit. Praesent blandit mollis sollicitudin. Maecenas auctor sollicitudin tincidunt. 
            </p>
        </div>
    </body>
</html>
