{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{%block content %}
<script>
    function change_to_resolution(){
        document.getElementById("input-box-form").action = '{{ url_for('resolution') }}';
    }

    function change_to_eval(){
        document.getElementById("input-box-form").action = '{{ url_for('resultado') }}';
    }

    function change_to_random(){
        document.getElementById("input-box-form").action = '{{ url_for('resultado') }}';
    }
</script>



<div class="container" align="center" id="main-container">
    
    <form action="{{ url_for('resultado') }}" method="get" id="input-box-form">
        <input type="text" name="entrada" id="input-box" value={{ holder }}>
        <br>
        <br>
        <input id="button-go" type="submit" class="btn  btn-dark btn-block" value="Resolver">
    </form>         

    <form action="{{ url_for('aleatorio') }}" method="get" id="random-form">
        <input id="button-go-random" type="submit" class="btn  btn-dark btn-block" value="Aleatorio">                   
    </form>

    <form class="form-check">
        <input type="radio" name="problem-type" id="resolution" value="resolution" onclick="change_to_resolution();">
        <label for="resolution">Resolução</label>
        <input type="radio" name="problem-type" id="evaluation" value="evaluation" checked="checked" onclick="change_to_eval();" >                
        <label for="evaluation">Avaliação</label>
    </form>
</div>
{% endblock %}