{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{%block content %}
<div class="container" align="center">
    <h2>
        <b>Premissas</b>
    </h2>
    <div id="premisses-table">
        <table class="table table-hover table-bordered table-striped">
            <tbody>
                <tr>
                    {% for e in prem %}
                        <td class="text-center">{{ e }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <h2>
        <b>Conclusão</b>
    </h2>
    <div id="conclusion-table">
        <table class="table table-hover table-bordered table-striped">
            <tbody>
                <tr>
                    <td class="text-center">{{ final }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>
        <b>Prova</b>
    </h2>
    <div id="proof-table">
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" scope="col">
                        Filho
                    </th>
                    <th class="text-center" scope="col">
                        Pai
                    </th>
                    <th class="text-center" scope="col">
                        Mãe
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for e in proof %}
                    <tr>
                        {% for part in e %}
                            <td class="text-center">{{ part }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}